.content {
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-color: #ffd6c5;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 120px;
}
.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.form__container {
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  color: #000;
}
.form {
  max-width: 385px;
  margin: 0 auto;
}
.form__container-title {
  margin: 0 0 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.form__label {
  display: block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  text-align: left;
}
.form__input {
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 15px 20px;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #838383;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__input::placeholder {
  color: #838383;
}

.form__button-reservar {
  display: flex;
  height: 60px;
  border: none;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  justify-content: center;
  background-color: #e96e3a;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 32px;
}
.form__checkbox-input {
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin: 0;
  appearance: none;
  border: 1px solid #4f4f4f;
}
.form__checkbox-input:checked {
  background-color: #2a2a2a;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
