.header {
  background-image: url(../images/background_header.svg);
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  flex-direction: column;
}

.nav {
  padding: 30px 26px 0 30px;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 105px;
  height: 39px;
}

.nav-links {
  list-style: none;
  display: flex;
  column-gap: 20px;
}

.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  color: rgb(0 0 0);
}

.header-title {
  max-width: 709px;
  margin: 183px 0 0 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.span-accent {
  display: block;
  font-family: "Noto Serif", "Time New Roman", serif;
  font-style: italic;
  font-weight: normal;
  color: #ff976b;
  letter-spacing: normal;
}
.header-description {
  max-width: 683px;
  padding-top: 28px;
  padding-left: 80px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header-image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header-info {
  display: flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 80px 40px;
}

.info-text {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  color: #6f6f6f;
}
